flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"EdgeX converter","disabled":false,"info":""},{"id":"ec9a32d9.7fb8d","type":"mqtt in","z":"f6f2187d.f17ca8","name":"RaspPi-136","topic":"th/raspberry/pi-136/#","qos":"2","datatype":"auto","broker":"f8e639b2.d790e8","x":130,"y":200,"wires":[["88de3eb0.3d21b"]]},{"id":"8ee0ea08.211e78","type":"mqtt out","z":"f6f2187d.f17ca8","name":"RaspPi-136","topic":"","qos":"","retain":"","broker":"dcb61017.026bb","x":990,"y":200,"wires":[]},{"id":"88de3eb0.3d21b","type":"switch","z":"f6f2187d.f17ca8","name":"Sensor bme680","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"th/raspberry/pi-136/bme680_temperature","vt":"str"},{"t":"eq","v":"th/raspberry/pi-136/bme680_gas","vt":"str"},{"t":"eq","v":"th/raspberry/pi-136/bme680_humidity","vt":"str"},{"t":"eq","v":"th/raspberry/pi-136/bme680_pressure","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":320,"y":200,"wires":[["4370b56d.5ad73c"],["56e598.efc03a68"],["91bf9fa5.a21df"],["f3331cc5.c1292"]]},{"id":"4370b56d.5ad73c","type":"json","z":"f6f2187d.f17ca8","name":"bme680 temperature","property":"payload","action":"","pretty":false,"x":580,"y":120,"wires":[["e312b9e1.be3978"]]},{"id":"56e598.efc03a68","type":"json","z":"f6f2187d.f17ca8","name":"bme680 gas","property":"payload","action":"","pretty":false,"x":550,"y":180,"wires":[["91999819.12a1c8"]]},{"id":"91bf9fa5.a21df","type":"json","z":"f6f2187d.f17ca8","name":"bme680 humidity","property":"payload","action":"","pretty":false,"x":570,"y":240,"wires":[["761f7609.b2bda8"]]},{"id":"f3331cc5.c1292","type":"json","z":"f6f2187d.f17ca8","name":"bme680 pressure","property":"payload","action":"","pretty":false,"x":570,"y":300,"wires":[["1a2e73fc.37adec"]]},{"id":"e312b9e1.be3978","type":"function","z":"f6f2187d.f17ca8","name":"convert","func":"var device = \"pi-136\"\nvar cmd = \"bme680_temperature\"\nvar value=msg.payload.val.toString().slice(0,8);\n\nmsg.payload=`{\n    \"name\": \"${device}\",\n    \"cmd\": \"${cmd}\",\n    \"${cmd}\": ${value}\n}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":120,"wires":[["8ee0ea08.211e78"]]},{"id":"91999819.12a1c8","type":"function","z":"f6f2187d.f17ca8","name":"convert","func":"var device = \"pi-136\"\nvar cmd = \"bme680_gas\"\nvar value=msg.payload.val.toString();\n\nmsg.payload=`{\n    \"name\": \"${device}\",\n    \"cmd\": \"${cmd}\",\n    \"${cmd}\": ${value}\n}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":180,"wires":[["8ee0ea08.211e78"]]},{"id":"761f7609.b2bda8","type":"function","z":"f6f2187d.f17ca8","name":"convert","func":"var device = \"pi-136\"\nvar cmd = \"bme680_humidity\"\nvar value=msg.payload.val.toString();\n\nmsg.payload=`{\n    \"name\": \"${device}\",\n    \"cmd\": \"${cmd}\",\n    \"${cmd}\": ${value}\n}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":240,"wires":[["8ee0ea08.211e78"]]},{"id":"1a2e73fc.37adec","type":"function","z":"f6f2187d.f17ca8","name":"convert","func":"var device = \"pi-136\"\nvar cmd = \"bme680_pressure\"\nvar value=msg.payload.val.toString();\n\nmsg.payload=`{\n    \"name\": \"${device}\",\n    \"cmd\": \"${cmd}\",\n    \"${cmd}\": ${value}\n}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":300,"wires":[["8ee0ea08.211e78"]]},{"id":"abd2062c.453ed8","type":"mqtt in","z":"f6f2187d.f17ca8","name":"RaspPi-119","topic":"th/raspberry/pi-119/#","qos":"2","datatype":"auto","broker":"f8e639b2.d790e8","x":130,"y":480,"wires":[["ed5d6992.40a848"]]},{"id":"8f987f61.3393f","type":"mqtt out","z":"f6f2187d.f17ca8","name":"RaspPi-119","topic":"","qos":"","retain":"","broker":"dcb61017.026bb","x":990,"y":480,"wires":[]},{"id":"ed5d6992.40a848","type":"switch","z":"f6f2187d.f17ca8","name":"Sensor bmp280","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"th/raspberry/pi-119/bmp280_temperature","vt":"str"},{"t":"eq","v":"th/raspberry/pi-119/bmp280_pressure","vt":"str"},{"t":"eq","v":"th/raspberry/pi-119/cpu_temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":480,"wires":[["39cc34b6.d859fc"],["a62bf545.a12fb8"],["2021cf50.c7a0d"]]},{"id":"39cc34b6.d859fc","type":"json","z":"f6f2187d.f17ca8","name":"bmp280 temperature","property":"payload","action":"","pretty":false,"x":580,"y":420,"wires":[["200b9830.971e08"]]},{"id":"a62bf545.a12fb8","type":"json","z":"f6f2187d.f17ca8","name":"bmp280 pressure","property":"payload","action":"","pretty":false,"x":570,"y":480,"wires":[["54e9d5f8.ba7abc"]]},{"id":"200b9830.971e08","type":"function","z":"f6f2187d.f17ca8","name":"convert","func":"var device = \"pi-119\"\nvar cmd = \"bmp280_temperature\"\nvar value=msg.payload.val.toString().slice(0,8);\n\nmsg.payload=`{\n    \"name\": \"${device}\",\n    \"cmd\": \"${cmd}\",\n    \"${cmd}\": ${value}\n}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":420,"wires":[["8f987f61.3393f"]]},{"id":"54e9d5f8.ba7abc","type":"function","z":"f6f2187d.f17ca8","name":"convert","func":"var device = \"pi-119\"\nvar cmd = \"bmp280_pressure\"\nvar value=msg.payload.val.toString();\n\nmsg.payload=`{\n    \"name\": \"${device}\",\n    \"cmd\": \"${cmd}\",\n    \"${cmd}\": ${value}\n}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":480,"wires":[["8f987f61.3393f"]]},{"id":"2021cf50.c7a0d","type":"json","z":"f6f2187d.f17ca8","name":"cpu temperature","property":"payload","action":"","pretty":false,"x":560,"y":540,"wires":[["dcd212f8.cd944"]]},{"id":"dcd212f8.cd944","type":"function","z":"f6f2187d.f17ca8","name":"converter","func":"var device = \"pi-119\"\nvar cmd = \"cpu_temperature\"\nvar value=msg.payload.val.toString().slice(0,8);\n\nmsg.payload=`{\n    \"name\": \"${device}\",\n    \"cmd\": \"${cmd}\",\n    \"${cmd}\": ${value}\n}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":540,"wires":[["8f987f61.3393f"]]},{"id":"f8e639b2.d790e8","type":"mqtt-broker","name":"th labor","broker":"droiden.nt.fh-koeln.de","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcb61017.026bb","type":"mqtt-broker","name":"lokal","broker":"mqtt-bridge","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]